In [1]:
# Creating example data

name = ['James', 'Robert', 'John', 'Michael', 'William', 'David', 'Richard',
        'Joseph', 'Patricia', 'Linda', 'Elizabeth', 'Barbara', 'Susan',
        'Sarah', 'Karen', 'Nancy']
numbers = [4700229, 4455696, 4453807, 2454407, 2335792, 2084043,
           2038798, 3196385, 1558407, 1448303, 1397635, 1103569,
           1046322, 991910, 986057, 966867]

In [2]:
dict = {}
for k, v in zip(name, numbers):
    dict[k] = v
print(dict.items())

dict_items([('James', 4700229), ('Robert', 4455696), ('John', 4453807), ('Michael', 2454407), ('William', 2335792), ('David', 2084043), ('Richard', 2038798), ('Joseph', 3196385), ('Patricia', 1558407), ('Linda', 1448303), ('Elizabeth', 1397635), ('Barbara', 1103569), ('Susan', 1046322), ('Sarah', 991910), ('Karen', 986057), ('Nancy', 966867)])

In [3]:
def hashcode(key):
    if type(key) == int:
        return key
    else:
        return abs(ord(key[0]) - ord('a'))

In [4]:
hashcode('James')

23

In [5]:
hashcode(6)

6

In [7]:
def hashput(kv_pair, htable): # adds a (key,value) into htable
    key,value = kv_pair    
    index = hashcode(key) % len(htable)
    bucket= htable[index]
    for i in range(len(bucket)): #for tuples in bucket[(k,v),(), ()...]
        if bucket[i][0] == key:
            bucket[i] = (key, value)
            return #if key in the bucket, then the function is done. the next line of code won't run
    bucket.append((key, value))

In [14]:
n = 10
table = [[] for i in range(n)]

In [15]:
table

[[], [], [], [], [], [], [], [], [], []]

In [16]:
hashput(('James', 4700229),table)

In [17]:
table

[[], [], [], [('James', 4700229)], [], [], [], [], [], []]

In [9]:
def hashget(key,htable):
    index = hashcode(key)%len(htable)
    for element in htable[index]:
        k,v = element
        if k == key:
            return v
        else:
            continue

In [10]:
n = 10
table = [[] for i in range(n)]

In [12]:
table

[[('Michael', 3564276), ('William', 2454407)],
 [('Linda', 1448303), ('Barbara', 1397635)],
 [('Karen', 986057)],
 [('James', 4700229),
  ('John', 4453807),
  ('Joseph', 2084043),
  ('Thomas', 2038798),
  ('Jennifer', 1558407),
  ('Jessica', 1046322)],
 [('Susan', 1103569), ('Sarah', 991910)],
 [('Robert', 4455696), ('Richard', 2151864)],
 [],
 [('Patricia', 3196385)],
 [('Elizabeth', 1420377)],
 [('David', 2335792), ('Nancy', 966867)]]

In [13]:
hashput(('Michael',0),table)

In [10]:
hashget('Patricia',table)

1558407

In [11]:
table

[[('Michael', 0),
  ('William', 3564276),
  ('Charles', 2084043),
  ('Christopher', 2038798),
  ('Mary', 3196385)],
 [('Linda', 1448303), ('Barbara', 1397635)],
 [('Karen', 986057)],
 [('James', 4700229),
  ('John', 4453807),
  ('Joseph', 2335792),
  ('Thomas', 2151864),
  ('Jennifer', 1468377),
  ('Jessica', 1046322)],
 [('Susan', 1103569), ('Sarah', 991910)],
 [('Robert', 4455696), ('Richard', 2454407)],
 [],
 [('Patricia', 1558407)],
 [('Elizabeth', 1420377)],
 [('David', 3564053), ('Nancy', 966867)]]