In [1]:
name = ['James','Robert','John','Michael','William','David','Richard','Joseph','Thomas','Charles','Christopher','Mary','Patricia','Jennifer','Linda','Elizabeth','Barbara','Susan','Jessica','Sarah','Karen','Nancy']
numbers = [4700229,4455696,4453807,4335919,3564276,3564053,2454407,2335792,2151864,2084043,2038798,3196385,1558407,1468377,1448303,1420377,1397635,1103569,1046322,991910,986057,966867]

In [2]:
def hashcode(key):
    if type(key) == int:
        return key
    else:
        return abs(ord(key[0]) - ord('a'))

In [4]:
def hashput(kv_pair, htable): # adds a (key,value) into htable
    key,value = kv_pair    
    index = hashcode(key) % len(htable)
    bucket= htable[index]
    for i in range(len(bucket)): #for tuples in bucket[(k,v),(), ()...]
        if bucket[i][0] == key:
            bucket[i] = (key, value)
            return #if key in the bucket, then the function is done. the next line of code won't run
    bucket.append((key, value))

In [ ]:
def hashput(kv_pair, htable): # adds a (key,value) into htable
    key,value = kv_pair
    index = hashcode(key)%len(htable)
    existing_keys = []
    for element in htable[index]:
        #check if the k,v pair exists
        existing_keys.append(element[0])
    if key in existing_keys:
        # find out which tuple has the matching key and update its value
        key_match_index = existing_keys.index(key)
        # remove existing entry
        table[index].pop(key_match_index)
        # update 
        htable[index].append((key,value))
    else:
        # the key has never been entered in hash table so we add it for the first time
        htable[index].append((key,value))

In [119]:
def hashput(kv_pair, htable): # adds a (key,value) into htable
    key,value = kv_pair
    index = hashcode(key)%len(htable)
    existing_keys = []
    for element in htable[index]:
        #check if the k,v pair exists
        existing_keys.append(element[0])
    if key in existing_keys:
        # find out which tuple has the matching key and update its value
        key_match_index = existing_keys.index(key)
        # remove existing entry
        table[index].pop(key_match_index)
        # update 
        htable[index].append((key,value))
    else:
        # the key has never been entered in hash table so we add it for the first time
        htable[index].append((key,value))

In [5]:
def hashget(key,htable):
    index = hashcode(key)%len(htable)
    for element in htable[index]:
        k,v = element
        if k == key:
            return v
        else:
            continue

In [6]:
n = 10
table = [[] for i in range(n)]

In [7]:
for k,v in zip(name,numbers):
    hashput((k,v),table)

In [8]:
table

[[('Michael', 4335919),
  ('William', 3564276),
  ('Charles', 2084043),
  ('Christopher', 2038798),
  ('Mary', 3196385)],
 [('Linda', 1448303), ('Barbara', 1397635)],
 [('Karen', 986057)],
 [('James', 4700229),
  ('John', 4453807),
  ('Joseph', 2335792),
  ('Thomas', 2151864),
  ('Jennifer', 1468377),
  ('Jessica', 1046322)],
 [('Susan', 1103569), ('Sarah', 991910)],
 [('Robert', 4455696), ('Richard', 2454407)],
 [],
 [('Patricia', 1558407)],
 [('Elizabeth', 1420377)],
 [('David', 3564053), ('Nancy', 966867)]]

In [13]:
hashput(('Michael',0),table)

In [10]:
hashget('Patricia',table)

1558407

In [11]:
table

[[('Michael', 0),
  ('William', 3564276),
  ('Charles', 2084043),
  ('Christopher', 2038798),
  ('Mary', 3196385)],
 [('Linda', 1448303), ('Barbara', 1397635)],
 [('Karen', 986057)],
 [('James', 4700229),
  ('John', 4453807),
  ('Joseph', 2335792),
  ('Thomas', 2151864),
  ('Jennifer', 1468377),
  ('Jessica', 1046322)],
 [('Susan', 1103569), ('Sarah', 991910)],
 [('Robert', 4455696), ('Richard', 2454407)],
 [],
 [('Patricia', 1558407)],
 [('Elizabeth', 1420377)],
 [('David', 3564053), ('Nancy', 966867)]]